/* Fuente principal: Nord Poem */
@font-face {
  font-family: 'Nord poem';
  src: url('./fonts/NordPoemLite.otf') format('opentype'),
       url('./fonts/NordPoemLite.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

/* Fuente secundaria cursiva: Snell Roundhand */
@font-face {
  font-family: 'Snell Roundhand';
  src: url('./fonts/SnellRoundhand-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Snell Roundhand';
  src: url('./fonts/SnellRoundhand-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
